// Navigation bar







// Menu & Down arrow

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation:bounceIn .75s;
  animation:bounceIn .75s;
}


// Landing Text Fade-In

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    -webkit-transform:translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

.fadeInDown {
  animation: fadeInDown 2s;
  -webkit-animation: fadeInDown 2s;

}

.menu-items.fadeInDown {
  animation: fadeInDown 0.2s;
  -webkit-animation: fadeInDown 0.2s;

}

// Technology Icons

@-webkit-keyframes zoomInDown {

  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    -webkit-animation-timing-function:cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-animation-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInDown {
  animation: zoomInDown 0.5s;
  -webkit-animation: zoomInDown 0.5s;
}

.main-header.zoomInDown {
  animation: zoomInDown 3s;
  -webkit-animation: zoomInDown 3s;
}



// Devices

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -webkit-transform:translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
    -webkit-transform:none;
  }
}

.fadeInUp {
  animation: fadeInUp 1s;
  -webkit-animation: fadeInUp 1s;
}





//Menu


.fadeIn {
  -webkit-animation-name: fadeIn 1s;
  animation-name: fadeIn 1s;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

